@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/* TO DO: reemplazar los selectores por clases para la parte del menú */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-decoration: none;
}

body {
	font-family: 'Roboto', sans-serif;
    color: ghostwhite;
	background-color: #00008b;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
}

/* ----- HEADER ----- */

.header {
    color: ghostwhite;
    position: sticky; /* para mobile tiene que ser fixed */
    top: 0;
    z-index: 20;
    box-shadow: 0px 1px 3px black;
}

/* --- NAV-CONTACT --- */

.nav-contact {
    display: flex;
    justify-content: space-around;
    background-color: #364bbe;
    height: 30px;
    line-height: 30px;
}

.nav-contact-item {
    list-style: none;
    font-size: 15px;
    min-width: fit-content;
}

.no-desbordar {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav-link-contact {
    text-decoration: none;
    transition: 0.5s;
    color: ghostwhite;
    padding: 12px 12px;
}

.nav-link-contact:hover {
    box-shadow: 0px 0px 3px gray;
    background-color: rgba(167, 11, 0);
}

.nav-toggle {
    color: whitesmoke;
    background: none;
    border: none;
    inline-size: 3em;
    margin: 0 -10px;
}

/* --- NAV --- */

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    background-color: #00008b;
    height: 70px;
}

.nav-container > div {
    display: inherit;
}

/* - LOGO - */

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;    
}

/* - BUSCAR - */

.buscar {
    position: relative; /*puse relative para que al expandirse el bucador
    no se superponga con los otros elementos*/
    align-self: center;
}

.buscar input {
    width: 0px;
    opacity: 0;
    height: 35px;
    padding: 0 7px;
    color: black;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;
}

.btn {
    right: -5px;
    margin-top: -7px;
    position: absolute;
    background: #cf1104;
    width: 50px;
    height: 50px;
    font-size: 20px;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    
    display: flex;
    justify-content: center;
}

.btn i {
    padding-top: 13px;
    line-height: 25px;
}

.buscar:hover input, .buscar input:focus {
    width: 240px;
    opacity: 1;
}

/* - MENU - */

.nav-menu {
    align-items: center;
}

nav {
    height: 40px;
}

nav > ul {
    height: 40px;
    display: flex;
    gap: 10px;
}

nav ul li {
    height: 100%;
    list-style: none;
    position: relative;
}

nav > ul > li > a {
    width: 100%;
    height: 40px;
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center;
    padding: 14px;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 300ms ease;
    line-height: 70%;
}

nav > ul > li > a:hover {
    transform: scale(1.1);
    background: rgba(167, 11, 0);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#selected {
    transform: scale(1.1);
    background-color: rgba(167, 11, 0);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

nav > ul > li:first-child > a {
    background-image: url(../iconos/home.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px 20px;
}

/* - SUBMENU - */

nav ul li ul {
    width: 180px;
    display: flex;
    flex-direction: column;
    background: rgba(167, 11, 0);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
    transition: all 300ms ease;
}

nav ul li:hover ul {
    visibility: visible;
    opacity: 1;
    top: 60px;
}

nav ul li ul:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid rgba(167, 11, 0);
    position: absolute;
    top: -12px;
    left: 20px;
}

nav ul li ul li a {
    display: block;
    color: white;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
}

nav ul li ul li a:hover {
    background: #00008b;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/* ----- PORTADA ----- */

.capa-gradiente{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(312deg, rgba(0,0,128,0.5018382352941176) 65%, rgba(207,17,4,1) 100%);
}

.portada {
    grid-row: 2/7;

    display: flex;
    justify-content: center;

    box-shadow: 0px 0px 3px black;
}

.portada-img {
    background-image: url(../img/portada.jpg);
    position: relative;
    object-fit: cover;
	background-position: center center;

    animation: movimiento 20s infinite linear alternate;
    z-index: -100;
}

.portada-detalles {
    color: ghostwhite;
    font-size: 1.5em;
    text-shadow: 1px 1px 3px black;
    
    z-index: 10;
    text-align: center;
    margin: auto;

    max-width: 60%;
}

.portada-detalles > h2 {
    color: #cf1104;
    font-size: 1.7em;
    text-transform: uppercase;
}

.portada-detalles > p {
    text-align: start;
}

/* ----- SLIDER ----- */

.slider {
    grid-row: 7/9;
}

/* ------- KEYFRAMES ------- */

@keyframes movimiento {
    from{
        background-position: bottom left;
    }to{
        background-position: top right;
    }
}

/* ------- MEDIA QUERYS ------- */

@media screen and (max-width: 768px), (max-width: 600px) {
    .header, .portada, .slider {
        text-align: center;
    }

    .slider {
        grid-column: 1/-1;
    }
}